<a href="https://colab.research.google.com/github/109292/test_douda/blob/main/erster_versuch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Das ist ein erster Versuch**

In [ ]:
print("Hello World")
print ("Hallo 1")

Hello World
Hallo 1

In [ ]:
print("Hallo2")

Hallo2

In [4]:
print("test3")

test3

In [5]:
from google.colab import files
from google.colab import drive
import pandas as pd
import requests
from io import StringIO

Schreiben von CSV-Dateien

In [8]:
url = 'https://data.statistik.gv.at/data/OGD_krebs_ext_KREBS_1.csv'
df = pd.read_csv(url, sep=';')
df.head()

   C-TUM_ICD10_3ST-0   C-BERJ-0 C-BUNDESLAND-0 C-KRE_GESCHLECHT-0  F-KRE
0  TUM_ICD10_3ST-C00  BERJ-1983   BUNDESLAND-1       GESCHLECHT-1      2
1  TUM_ICD10_3ST-C00  BERJ-1983   BUNDESLAND-2       GESCHLECHT-1      8
2  TUM_ICD10_3ST-C00  BERJ-1983   BUNDESLAND-2       GESCHLECHT-2      2
3  TUM_ICD10_3ST-C00  BERJ-1983   BUNDESLAND-3       GESCHLECHT-1      6
4  TUM_ICD10_3ST-C00  BERJ-1983   BUNDESLAND-3       GESCHLECHT-2      2

Datei von einer URL lesen - z.B. Krebsstatistik. 
Datei in Dataframe umwandeln

In [9]:
url = 'https://info.gesundheitsministerium.gv.at/data/timeline-bbg.csv'
df = pd.read_csv(url, sep=';')
df.head()

,Datum,BundeslandID,Bevölkerung,Name,Auslieferungen,AuslieferungenPro100,Bestellungen,BestellungenPro100
0,2021-01-09T23:59:59+01:00,0,NaN,Bundesverwaltung,0,NaN,0,NaN
1,2021-01-09T23:59:59+01:00,1,299235.0,Burgenland,355,0.118636,3995,1.335071
2,2021-01-09T23:59:59+01:00,2,566166.0,Kärnten,305,0.053871,6830,1.206360
3,2021-01-09T23:59:59+01:00,3,1708140.0,Niederösterreich,9042,0.529348,20070,1.174962
4,2021-01-09T23:59:59+01:00,4,1512226.0,Oberösterreich,520,0.034386,21395,1.414802